<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button> 
      </ion-nav-buttons>
    </ion-nav-bar>
    


        <div ui-view  ="header"></div> 
       
     
        <ion-nav-view name="menuContent"></ion-nav-view>


        <div ui-view  ="footer"></div>  

    
  </ion-side-menu-content>

  <ion-side-menu side="left" class="bg-img">
    <ion-header-bar class="bg-head" > 
    </ion-header-bar> 
    
    <ion-content >
      
      <ion-list class="move-to-right" > 
        
        
        <ion-item ng-repeat="menu in menus" class="itemMenu" href="#/app/{{menu.id}}" >
            
            <a>{{menu.title}}</a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus> 
   