<!--
<ion-view class="bg-color-black">
  <ion-nav-bar class="bar-dark">
    <ion-nav-title>
        <span class="font-color-cream">MUSEO DEL JADE</span>
     </ion-nav-title>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>  
</ion-view> 
-->


<ion-vew class="bg-color-black ">
   <!--ES-->
  <ion-header-bar lang="es" id="header" class="bar-dark bg-color-black bar bar-header bar-stable   "   align-title="center" ng-controller="showMenuCtrl"  no-tap-scroll="true" >  
 



    <span  class="font-color-cream title" >MUSEO DEL JADE</span>

 
    
  </ion-header-bar> 
  <!--EN-->
  <ion-header-bar lang="en" id="header" class="bar-dark bg-color-black bar bar-header bar-stable   "   align-title="center" ng-controller="showMenuCtrl"  no-tap-scroll="true" >  
 



    <span  class="font-color-cream title" >JADE MUSEUM</span>

 
    
  </ion-header-bar> 

</ion-vew>       