<ion-popover-view ng-class="showLeave" class="popover-custom spotter popover-position "   >
  <ion-content class="bg-color-transparent">
    <div  class="list bg-color-transparent">
      <a class="item black-2-green  font-size-medium font-bold-strong find" ng-click="changeLang(1);checkAnElement();" >
        ES
      </a>
      <a class="item black-2-green font-size-medium font-bold-strong find"  ng-click="changeLang(2);checkAnElement();"  >
        EN
      </a>
    </div> 
  </ion-content>
</ion-popover-view>               