<!--ES-->

<ion-view class="bg-color-black ">

	<!--ES-->
	<div class="bar bar-subheader bg-color-black subheader-height" lang="es">
		<h1 class="title font-color-green subheader-line-height">COMPRA DE TIQUETES</h1>
	</div>
	<!--EN-->
	<div class="bar bar-subheader bg-color-black subheader-height" lang="en">
		<h1 class="title font-color-green subheader-line-height">TICKETS SELLING</h1>
	</div>

	<ion-content class="background-exhibitions has-subheader">

		<br/>
		<div class="barcode-position">
			<canvas ng-model="hello" id="barcode" style="padding-top:10px;padding-left:30%;background-color:white;"></canvas>

		</div>
  
		<div class="row margin-top-50"> 

			<div class="col"></div>
			<div class="col"><a lang="es" class="button ticket-button">Siguiente</a></div>
			<div class="col"></div>

		</div>


	</ion-content>
</ion-view> 